<nav class="navbar navbar-light bg-light">
    <button type="button" class="btn btn-default" aria-label="Right Align">
        <span class="glyphicon glyphicon-camera" ></span>
      </button>

      <!--search form-->

    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>

      <form class="navbar-right" class="navbar-form" role="search" action="{% url 'searchbyusername' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </ul>

    

  </nav>